@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: local("Inter"), url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: local("Inter"), url("/fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-display: swap;
}
