.post h2,
.post h2,
.post h3,
.post h4 {
  margin-bottom: 0.5rem;
}

.post h2 {
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: bold;
}
.post h3 {
  font-family: Inter;
  font-size: 1.3rem;
  font-weight: bold;
}
.post h4 {
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: bold;
}

.post p {
  margin: 1.5rem 0;
  font-size: 1rem;
}

.post h2 + p {
  margin-top: 0;
}

.post p:has(> img) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.post li p:has(> a) {
  margin: 0;
}

.post a {
  box-shadow: var(--blog-border-shadow);
}

.post a:hover {
  box-shadow: var(--blog-bg-shadow);
}

.post ul,
.post ol {
  padding: 1rem;
  padding-top: 0;
}
.post li {
  margin-bottom: 0.2rem;
}

.post ul li {
  list-style-type: disc;
}

.post ol li {
  list-style-type: decimal;
}

.post pre code {
  background-color: transparent;
  padding: 1rem;
}

.post pre {
  margin: 1.5rem 0;
  background-color: #fff;

  border-radius: 0.2rem;
  overflow-x: auto;
}

.post p code {
  font-size: 0.9em;
  background-color: var(--primary-color);
  border: 1px solid var(--contrast-color);
  padding: 2px 4px;
  white-space: pre;
}

.post blockquote {
  position: relative;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  padding-left: 1.8rem;
  margin-bottom: 1rem;
}

.post blockquote::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  left: 0;
  top: 0;
  background-color: var(--blog-border);
}

.post blockquote p:first-child:nth-last-child(2) ~ p {
  font-style: italic;
}

.post blockquote p {
  margin: 0;
}

.footer hr {
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  .post pre {
    background-color: #07111a;
  }
}
