@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #000;
    --secondary-color: #1e293b;
    --contrast-color: #4f46e5;

    --button-bg-color: #4f46e5;
    --butoon-bg-hover-color: #0f172a;

    --text-color: #fff;

    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 17, 23, 32;
  }
}

body {
  color: var(--text-color);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
