@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #090f16;
    --secondary-color: #5094ed;

    --button-bg-color: #ff0000;
    --butoon-bg-hover-color: #1568d5;

    --text-color: #fff;
    --badge-bg-color: #1568d5;
    --badge-color: #fff;

    --background-start-rgb: #0c192a;
    --background-end-rgb: #15263d;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #ffffffed;
    --secondary-color: #1568d5;

    --button-bg-color: transparent;
    --butoon-bg-hover-color: #1568d5;

    --text-color: #000000;
    --badge-bg-color: #1568d5ea;
    --badge-color: #ffffff;

    --background-start-rgb: #d3d3d3;
    --background-end-rgb: #c1d2e9;
  }
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background: linear-gradient(
    to bottom left,
    var(--background-start-rgb),
    var(--background-end-rgb)
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
}

blockquote,
body,
input,
li,
p,
span,
textarea {
  line-height: 1.8;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400;
  font-display: block;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
